html {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    width: 400px;
    height: 230px;
    font-family: Arial, sans-serif;
    padding: 20px;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
}

label {
    display: block;
    margin-bottom: 10px;
}
